.header-bottom{
	border-bottom: 1px solid #c8c8c8;

	&__inner{
		position: relative;

		max-width: 990px;
		height: 80px;
		margin: auto;

		@include below(1023px){
			height: 140px;
		}

		@include below(567px){
			height: 180px;
		}
	}
}